@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then generates links so the visitor can go to each page
*@


@{ var selection = Model.Content.Children.OrderByDescending(x => x.CreateDate).ToArray(); }

@if (selection.Length > 0)
{
    <aside class="sidenav">
        <nav>
            <ul>
                @foreach (var item in selection)
                {
                    <li>
                        <a href="@item.Url" class="btn btn-lg btn-block btn-dark">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>
    </aside>
}